.section:first-of-type{
	height:100vh;
	max-height: 800px;
}

.camera {
	height: 80vh;
	max-height: 100vh;
}

#foodInfo {
	bottom: 20%;
	left: 15%;
	position: absolute;
	align-content: center;
	align-self: center;
	background-color: teal;
}

.footer {
	position:fixed;
	left:0px;
	bottom:0px;
	width: 100%;
	height: 30px;
	background-color: teal;
}

.tasks {
	position:fixed;
	bottom:2%;
	left: 30%
}

.carousel {
	height: 10%;
}
button {
	align: center;
}

table {
	align-content: center;
}

select {
	color: black;
	width: 100px;
}


.rate {
	background: transparent;
	border: none;	
}

.more {
	position: center;
}